.container {
    color: black;
    font-size: 1.5rem;
    position: relative;
}

.text {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    max-width: 25rem;
}

.detail-container {
    position: absolute;
    top: 10rem;
    left: 2rem;
}