.container {
    width: 80%;
    margin: 1rem auto;
}

.location-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem 0;
}

.icon {
    width: 2.25rem;
    height: 2.25rem;
}

.location-text {
    font-size: 1.5rem;
    color: #90A4AE;
}

.section-title {
    font-size: 2rem;
}

.carousel-container {
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.img {
    width: 25%;
    height: 25%;
    border-radius: 16px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.active-img {
    width: 30%;
    height: 30%;
    border-radius: 16px;
}

.arrow {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}