.container {
    color: white;
    font-size: 1.5rem;
    width: 80%;
    margin: 0 auto;
}

.text {
    position: absolute;
    top: 2rem;
    z-index: 20;
}

.ticket-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}